html body {
  background-image: url('../style/images/simple-gray-texture.jpg');
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

header,
section,
footer {
  width: calc(50em + 3em);
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #7e7f83;
}

header h1 {
  text-align: center;
  padding-top: 0.5em;
  margin-bottom: 0.6em;
  border-bottom: 2px solid #012a36;
}

nav a {
  background-color: transparent !important;
  border: none !important;
  border-radius: none !important;
  padding-left: 5px !important;
  padding-right: 5px !important;
  color: white !important;
  cursor: pointer;
}

nav p {
  margin: 0 5px 0 5px;
  color: white;
}

nav a:last-child {
  border-right: none !important;
}

nav a:hover {
  color: #7e7f83 !important;
  background-color: white !important;
  border-radius: 4px;
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
}

section {
  margin-top: 1em;
}

h1 {
  text-align: center;
  margin-bottom: 0;
  color: white;
}

h2 {
  text-align: center;
  color: white;
  background-color: #7e7f83;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 2px;
}

h4 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  border: black solid 5px;
}

.button {
  background-color: hsl(0, 0%, 80%);
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

section h2 {
  margin-bottom: 2rem;
}

#main-container {
  display: block;
  columns: 12rem;
  gap: 1rem;
}

.trendingGif,
.searchedGif {
  width: auto;
  height: 28em;
}

.trendingGif {
  background-color: bisque;
}

#current-trading-page {
  margin: 0.7em 6px 0.7em 6px;
  font-size: 20px;
}

#search-form {
  margin-bottom: 2rem;
}
.searchedGif {
  background-color: cadetblue;
}

div.favorite {
  cursor: pointer;
  font-size: 2.5em;
  color: #6a8eae;
  width: fit-content;
  /* height: 20px; */
}

div.favorite.hidden {
  height: 0;
  width: 0;
}

div.favorite:hover {
  color: #b02e0c;
}

div.favorite.active {
  cursor: pointer;
  color: #6a8eae;
}

.favorite-wrapper {
  position: absolute;
  top: -12.5px;
  right: 0px;
  /* width: fit-content; */
}

.buttons-wrapper {
  position: relative;
}

.buttons-wrapper > .btn {
  width: min-content;
}

#search-form {
  display: flex;
  align-items: center;
}

#search-form label {
  margin: 0;
  margin-right: 10px;
}

#search-form input {
  background-color: #7e7f833b;
  border: none;
  height: 34px;
  margin-right: 10px;
}

#search-form input:active {
  background-color: #7e7f833b;
}

#uploadGif-form {
  display: grid;
  width: 25em;
  margin: 0 auto;
}

#uploadGif-form label {
  margin: 0;
  padding-left: 7px;
}

#uploadGif-form input {
  background-color: transparent;
  margin-bottom: 2em;
}

#uploadGif-form textarea {
  background-color: transparent;
  margin-bottom: 1em;
}

#uploadGif-form textarea::placeholder {
  text-indent: 5px;
}

#uploadGif-form #upload-error-msg {
  padding-left: 7px;
  color: white;
  background-color: #b02e0c;
}

footer {
  display: flex;
  background-color: #7e7f83;
  justify-content: space-around;
  color: white;
  align-items: center;
  margin-top: 2em;
}
footer p {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.next,
.prev {
  margin: 1em 0;
}

/* Bootstrap Overriding: */

.my-card {
  /* position: relative; */
  width: 12em;
  margin-bottom: 1rem;

  break-inside: avoid;
  border: solid 2px #7e7f83;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(126, 127, 131, 0);
}

#detailed-container .card {
  background-color: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  border: solid 2px #7e7f83;
  border-top-right-radius: none;
  border-bottom-right-radius: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 10px 13px -7px #000000,
    5px 5px 15px 5px rgba(126, 127, 131, 0);
}

.btn {
  background-color: #6a8eae;
  border-color: #7e7f83;
  color: white;
}

.btn:hover {
  background-color: #012a36;
  border-color: #7e7f83;
}

.details-btn {
  margin-right: 20px;
}

@media only screen and (max-width: 860px) {
  header,
  section,
  footer {
    width: calc(30em + 3em);
    margin: 0 auto;
  }

  #main-container {
    display: block;
    columns: 12rem;
    gap: 1rem;
    margin: 10px auto;
  }

  header {
    margin-bottom: 1em;
  }

  nav > a {
    font-size: 14px;
  }

  .my-card {
    width: auto;
  }

  .favorite-wrapper {
    position: absolute;
    top: -12.5px;
    right: 0px;
    /* width: fit-content; */
  }

  .buttons-wrapper {
    position: relative;
  }

  div.favorite:hover {
    color: #b02e0c;
  }

  div.favorite.active {
    cursor: pointer;
    color: #6a8eae;
  }
}

@media only screen and (max-width: 620px) {
  header,
  section,
  footer {
    width: calc(20em + 3em);
    margin: 0 auto;
  }

  .my-card {
    width: auto;
  }

  header {
    margin-bottom: 1em;
  }

  nav {
    flex-direction: column;
    flex-grow: 1;
  }

  nav a:hover {
    background-color: #6a8eae;
    margin: 0;
    padding: 5px 0;
  }

  #main-container {
    display: block;
    columns: 10rem;
    /* padding: 0 10px; */
    margin: 0 0 5px 0;
  }

  nav > a {
    display: inline;
    margin-bottom: 10px;
    font-size: 19px;
  }

  nav > p {
    color: #7e7f83;
    display: none;
  }

  #uploadGif-form {
    display: grid;
    width: 20em;
    margin: 0 auto;
  }

  #uploadGif-form > div {
    margin-bottom: 10px;
  }

  #main-section > h3 {
    font-size: 20px;
    margin-bottom: 25px;
    padding-left: 12px;
  }

  .favorite-wrapper {
    position: absolute;
    top: -12.5px;
    right: -5px;
  }

  .buttons-wrapper {
    position: relative;
  }

  #search-form {
    flex-direction: column;
  }

  #search-form button {
    margin-top: 15px;
  }

  div.favorite:hover {
    color: #b02e0c;
  }

  div.favorite.active {
    cursor: pointer;
    color: #6a8eae;
  }
}
